.bg-img{
    background-image: url('assets/background.jpg');
    /* background-image: url('assets/newbg.jpeg'); */
    /* background-image: url('assets/bg-22.avif'); */
}
pb{
    font-weight: bold;
    color: #9669a8;
}
.nav-bottom-border, .webskillicons{
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
}